
body{
    background-color:#f2f2f2;
    margin:0;
}
.header{
    background-color:#f2f2f2;
    color:#FFFFFF;
    height:130px;
}
.nav{
    max-width:950px;
    margin-left:auto;
    margin-right:auto;
}
.logo{
    margin-top:28px;
    font-size:4rem;
    float:left;
}
.name{
    margin-top:55px;
    margin-left:20px;
    font-size:1rem;
    float:left;
}
.links{
    margin-top:55px;
    font-size:1rem;
    float:right;
    color:#4B4E61;
}
.links a{
    color:white;
    text-decoration:none;
    margin-left:10px;
    margin-right:10px;
}
.blue{
    color:#1b5374;
}
.rust{
    color:#a54223;
}
.banner img{
    width:100%;
}

.contactinformation{
    width:1150px;
    height:120px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
.delivery img{
    height:50px;
    width:50px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}
.address img{
    height:50px;
    width:50px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}
.phone img{
    height:50px;
    width:50px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}
.email img{
    height:50px;
    width:50px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}
.fax img{
    height:50px;
    width:50px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}
.symbol{
    height:120px;
    width:80px;
    float:left;
}
.info{
    height:100px;
    width:130px;
    padding:10px;
    float:left;
}

.contactus{
    width:1150px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}
.messageus{
    height:20px;
    width:110px;
    padding:20px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}